#root {
  min-width: 280px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 8px;
  text-align: center;
}

.card {
  padding: 24px;
}

.read-the-docs {
  color: #888;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
