body {
    max-width: 1000px;
    height: 650px;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 8px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    box-sizing: border-box;
}

main {
    height: 100%;
    box-sizing: border-box;
}
